/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image-dark: url(../images/cover-image-dark.png); 
  --border-color-opacity: #FF007066;
}