/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --page-bg-color: rgba(255, 241, 247, 1);
  --negative-text: #353430;
  --shadow-font: #FF8DCB;
  --button-color: #353430;
  --rec-color: #FF0070;
  --title-color: #FFC2E6;
  --accent-color: #ff0070;
  --title-decor: #FF8DCB;
  --question-color:#353430;
  --text-color: #353430;
  --text-shadow: #FF8DCB;
  --decoration-color: #353430;
  --decor_link-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
   --bg-image: url(../images/cover-image-light.png);
  --page-bg-color: rgba(255, 241, 247, 1);
  --negative-text: #353430;
  --shadow-font: #FF8DCB;
  --button-color: #353430;
  --rec-color: #FF0070;
  --title-color: #FFC2E6;
  --accent-color: #ff0070;
  --title-decor: #FF8DCB;
  --question-color:#353430;
  --text-color: #353430;
  --text-shadow: #FF8DCB;
  --decoration-color: #353430;
  --decor_link-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
}
.reс__word {
    display: none;
  }
}

  .theme-light .reс__word {
  display: none;
}
