/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
  align-items: center;
  line-height: 1.3;
  margin: 0 auto;
  font-family: var(--project-font-family);
}

.header {
  height: 100vh;
  min-height: 668px;
  font: inherit;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  box-sizing: border-box;
  font-family: var(--project-font-family);
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0 10px 0 0;
}

.header__theme-menu-button {
  font-family: var(--project-font-family);
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.huge__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--shadow-font);
  color: var(--title-color);
}

.decorated-zone {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  margin-top: 10px;
  margin-right: 10px;
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::before {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
  margin: 0 0 10px 10px;
}

.reс__word {
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: var(--rec-color);
  right: 9px;
  top: 0;
  display: inline-flex;
  align-items: center;
  gap: 9px;
}

.reс__word::before {
  content: "REC";
  color: var(--color-rec);
  display: inline-block;
  font-family: var(--project-font-family);
  font-size: var(--regular-font-size);
  margin-top: 10px;
}

.reс__word::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-top: 10px;
  margin-right: 15px;
}

.header__text {
  background-color: var(--title-decor);
  color: var(--negative-text);
  font-weight: 700;
  font-size: var(--regular-font-size);
  margin: var(--decoration-gap);
}

.question {
  color: var(--question-color);
  font-size: var(--regular-font-size);
  font-weight: 700;
  margin-bottom: 20px;
}

.answer__title {
  font-size: var(--regular-font-size);
  color: var(--negative-text);
  background-color: var(--title-decor);
  margin: 20px 0 10px 0;
}

.advice__title {
  /* color: var(--negative-text);
  background-color: var(--title-decor); */
  font-size: var(--regular-font-size);
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.answer__text {
  color: var(--text-color);
  font-size: var(--regular-font-size);
}

.decor__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--text-shadow);
  color: var(--decor_link-color);
}

.decor__link:focus {
  outline: none;
}

.decor__link:focus-visible {
  outline: 1px solid currentColor;
}

.decor__link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.main {
  margin: 40px 10px;
}


.section__why,
.section__what,
.section__how {
margin-bottom: 50px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  position: relative;
  height: max(100vh, var(--min-height));
  align-items: center;
  display: flex;
  justify-content: center;
}



@media (width >= 768px) {
  .header {
    --min-height: 1024px;
  }

  .huge__title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
    margin-left: 0;
  }

  .header__theme-menu-list {
    margin-right: 20px;
  }

  .reс__word::before {
    margin-top: 20px;
  }

  .decorated-zone::after {
    margin-right: 20px;
    margin-top: 20px;
  }

  .reс__word::after {
    margin-top: 15px;
    margin-right: 18px;
  }

  .decorated-zone::before {
    margin: 0 0 20px 20px;
  }

  .header__text {
    width: calc(50% - 20px);
    justify-self: end;
  }

  .decorated-zone {
    padding: 20px 0 20px 0;
  }

  .gallery {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset_img {
    grid-column: 1 / 3;
  }

  .ice_cream_img {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .tape_img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .book_img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_img {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .main {
    margin: 60px 20px;
  }

  .section__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "question_why answers_why";
    gap: 20px;
  }

  .answer__title {
    margin: 0 0 10px 0;
  }
  .alignment{
    position: relative;
    bottom: 10px;
  }
  
  .answer__text {
    margin-bottom: 20px;
  }
  
  .section__how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "question_how answers_how";
    gap: 20px;
    margin-top: 70px;
  }

  .section__what {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .question__what {
    width: 30%;
    padding-top: 10px;
  }

  .gallery__section {
    margin-top: 60px;
  }

  .picture_question {
    margin-bottom: 20px;
  }

  .footer__title {
    justify-content: center;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
   grid-auto-flow: column;
   margin: 0;
  }

  .header__theme-menu {
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: start;
}

.section__why {
  gap: 10px;
}
.alignment{
  position: relative;
  bottom: 10px;
}
 .answers__what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-area: answers_what;
    margin-top: 77px;
  }

  .question__what {
    display: block;
    grid-area: question__what;
  }

  .section__how {
    gap: 10px;
  }
}
